<Layout::Section::Header @searchQuery={{this.query}} @onSearch={{perform this.search}} @title={{t "registry-bridge.developers.extensions.explore.explore-extensions"}}  />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="m-auto p-8">
        <div class="flex flex-row space-x-4">
            {{#each this.extensions as |extension|}}
                <div class="mb-4">
                    <ExtensionCard @extension={{extension}} />
                </div>
            {{/each}}
        </div>
    </div>
    <Spacer @height="300px" />
</Layout::Section::Body>